@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*
    font-family: 'Passion One', cursive;
    font-family: 'Sriracha', cursive;
*/

/* Shorthand - background
    color > image > position >/> size > repeat > attachment
*/

:root {
    --fonte-1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-2: 'Passion One', cursive;
    --fonte-3: 'Sriracha', cursive;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-1);
}

header {
    background: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--fonte-2);
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte-3);
    font-size: 3vw;
}

section > p {
    padding-top: 2rem;
}

section.normal {
    background: white;
}

section.imagem {
    background: rgb(100, 100, 100);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.380);
}

section.imagem > p {
    background: rgba(0, 0, 0, 0.500);
    display: inline-block;
    padding: 10px 5px;
    text-shadow: 1px 1px 0px black;
}

section.imagem#img1 {
    /*background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    Shorthand - background
    color > image > position >/> size > repeat > attachment
    */
    background: url(../imagens/background001.jpg) right center/cover no-repeat fixed;
}

section.imagem#img2 {
    background: url(../imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}